html,body{height: 100%;}
body{
    background: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff
}


.animate{
    -webkit-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;
}

.button{
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 10px 20px ;
    border-radius: 3px;
    text-decoration: none;
}

.button2{
    display: inline-block;

    background-image: url("https://i.pinimg.com/564x/99/d3/0b/99d30be090c7c8e51cf8ae09a3fff377.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
    opacity: 0.3;

    color: #000;
    padding: 10px 20px ;
    border-radius: 3px;
    text-decoration: none;
}

.header{background: #333;}
.header_logo{color: #fff; float: left center; text-decoration: none; font-size: 40px; padding: 10px;}
.header_menu{float: right; margin:0; padding: 0}
.header_menu_item{display: inline-block;}
.header_menu_item a {color: #fff; display: block; padding: 15px; text-decoration: none;}
.header_menu_item a:hover{background:#000 ;}

.header_icon-bar{display: block; float: right; padding: 20px; display: none;}
.header_icon-bar span{display: block; height: 3px; width: 30px; background: #fff; margin-bottom: 5px;}

.cover{
    height: 70%;
    background-image: url("https://i.pinimg.com/564x/cc/4f/94/cc4f941c57d3077ba9a79550a9bf1405.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
    position: relative;

}

.cover_filter{background: #000;width: 100%;height: 100%;position: absolute;z-index: 0;opacity: 0.2;}
.cover_caption{display: table;height: 100%;width: 100%;position: relative;z-index: 1;padding: 0px 20px ;}
.cover_caption_copy{display: table-cell;vertical-align: middle;text-align: center;color:#fff;}
.cover_caption_copy h1 {font-size: 50px;}

.cover2{
    height: 50%;
    background-image: url("https://i.pinimg.com/564x/ea/80/35/ea80352e5baa0e66ca0695f411d108de.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
    position: relative;

}

.cover2_filter{background: #000;width: 100%;height: 100%;position: absolute;z-index: 0;opacity: 0.7;}
.cover2_caption{display: table;height: 100%;width: 100%;position: relative;z-index: 1;padding: 0px 20px ;}
.cover2_caption_copy{display: table-cell;vertical-align: middle;text-align: center;color:#fff;}
.cover2_caption_copy h2 {text-align: center; font-size: 50px}
.cover2_caption_copy_lista {text-align: left}

.cover3{
    height: 30%;
    background-image: url("https://i.pinimg.com/564x/5d/93/eb/5d93eb6f286a840438c72e790707e746.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
    position: relative;

}

.cover3_filter{background: #000;width: 100%;height: 100%;position: absolute;z-index: 0;opacity: 0.7;}
.cover3_caption{display: table;height: 100%;width: 100%;position: relative;z-index: 1;padding: 0px 20px ;}
.cover3_caption_copy{display: table-cell;vertical-align: middle;text-align: center;color:#fff;}
.cover3_caption_copy h2 {text-align: center; font-size: 50px}
.cover3_caption_copy_lista {text-align: left}

.banner{
    background:  grey;; 
    height: 50%; 
    padding: 30px;
}

.banner_image{width: 40%; float: left; height: 100%;
    background-image: url("https://i.pinimg.com/564x/9f/06/31/9f06312cb0c21c13076285529fd06e52.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
}
.banner_copy{width: 60%; float: left; height: 100%; display: table;}
.banner_copy_text{
    display: table-cell; 
    vertical-align: middle; 
    padding: 10px 10px;
}
.banner_copy_text h3{
    font-size: 36px; 
    margin-bottom: 50px;}


.banner2{
    background:  rgb(112, 145, 159);; 
    height: 50%; 
    padding: 30px;
}

.banner2_image{width: 50%; float: left; height: 100%;
    background-image: url("https://i.pinimg.com/564x/3f/d1/d8/3fd1d8acc3350421876b448abcdfdac6.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
}
.banner2_copy{width: 50%; float: left; height: 100%; display: table}
.banner2_copy_text{
    display: table-cell; 
    vertical-align: middle; 
    padding: 10px 10px;
}
.banner2_copy_text h3{
    font-size: 36px; 
    margin-bottom: 50px;}


.banner3{
    background:  rgb(80, 171, 128);; 
    height: 50%; 
    padding: 30px;
}

.banner3_image{width: 50%; float: left; height: 100%;
    background-image: url("https://i.pinimg.com/564x/eb/19/db/eb19dbc84a67ec8e5e6652802489602d.jpg");
    background-size: cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-position: center center;
}
.banner3_copy{width: 50%; float: left; height: 100%; display: table}
.banner3_copy_text{
    display: table-cell; 
    vertical-align: middle; 
    padding: 10px 10px;
}
.banner3_copy_text h3{
    font-size: 36px; 
    margin-bottom: 50px;}


.card{
    width: 30%;
    margin: 0 1.5%;
    background: #cbb8b8;
    float: left;
    color: #000
}

.card_image{width: 100%;height: auto;}
.card_copy{padding: 20px 20px;}
.card_copy h3{margin: 30px;}


.citta {
    text-align: center;
    background: rgb(198, 158, 158)
}
.citta_img{ text-align: center}
.citta_text {
    background: rgb(77, 75, 75); padding: 50px;
    color: #fff
}

.footer{background: #333; padding: 30px ; color: #fff; margin-top: 40px;}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 20
;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

  *::before,
  *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* tablet  */
@media (max-width:998px){
    .banner_image{width: 50%;height: 100%;}
    .banner_copy{width: 50%; height: 100%;}

}

/* e smartphone */
@media (max-width:767px){


    .header{position: fixed; z-index: 100; width: 100%;}
    .header_icon-bar{display: block;}
    .header_menu{width: 100%; height: 0px; overflow: hidden;}
    .header_menu_item{display: block;}
    .is-open{height:300px ; overflow: auto;}

    .cover{height: 100%; width: 100%;}


    .card{width: 90%;margin: 5%}

    .banner{height: 100%;}
    .banner_image{width: 100%;height: 50%;}
    .banner_copy{width: 100%; height: 50%;}


}